body{
	font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #ccd2e9;
}
a:link, a:active, a:visited{
	color:black;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
/* grid 960px */
.linha{
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 10px 0;
}
::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
.coluna{
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
	color: #000000;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}


.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 15px 0px 10px 0px;
}
ul li, ol li{
	margin-bottom: 5px;
}
ul.inline li, ol.inline li{
	display: inline;
	margin-right: 0px;
}
ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 0;
}
ul.sem-marcador,ol.sem-marcador{
	list-style: none;
}
a.botao, input.botao{
	background: #ffffff;
	padding: 5px 10px;
	border-radius: 3px;
	color: #000000;
	cursor: pointer;
	margin: 5px 0px;
	display: inline-block;
	border: none;
}
a.botao:hover, input.botao:hover{
	background:  #8d3a9e;
	text-decoration: none;
	color:#000000 ;

}
.conteudohome{
	text-align: justify;
}

img{
	max-width: 100%;
	height: auto;
}


 /* Layout do site */
.header{
    background: #8658da;
    padding-bottom: -5px;
}
h1.logo{
    border-style: solid ;
    border-color: #000000;
    font-weight: 500;
	color: #000000;
    letter-spacing: 15px;
    margin-right: 20px;
    text-align: center;
}
.conteudo-extra{
	background: #f1f2ea;
}
.footer{
	background: #8658da;
    color: #ffffff;
	padding: 20px 0;
    text-align: center;
	font-weight: 100;
	
}
.menu{
	text-transform: uppercase;
	text-align: right;
	margin-top: 20px;
}
.menu li a{
	padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
}
.menu li a:hover{
	text-decoration: none;
	background: #8320b1;
	color: #ebebeb;
}
.radio label{
	padding-top: 10px;
	
}

.noticia1, .noticia2,.noticia3,.noticia4,.noticia5{
	text-align: justify;
}

.noticia4 img{
	margin-left: 130px;
}
.noticia5 iframe{
	margin-left: 50px;
}

.contato label{
	display: block;
	font-size: 13px;
	font-weight: 300;
}
.contato input, .contato textarea{
	display: block;
	margin-bottom: 15px;
	padding: 5px 2%;
	width: 96%;
}
.contato textarea{
	height: 150px;
}
.contato input.botao{
	width: auto;
}
.form-control{
    width: 100%;
}
.radio{
    
    width: 100%;
}
.lateral{
    list-style: none;
    display: table;
    text-decoration: none;
   
}
.lateral li a{
    color: black;
}
.menulatera{
	border: 1px;
	
}


/* Box dos produtos */

.boxProduto{
	float: left;
	text-align: justify;
	border-style: solid ;
	border-color: black;
	border-width: 1px;
	height: 425px;
	max-width: 285px;
	margin: 4px;
	padding: 2px;	
	overflow-y: auto;	
	background-color: #ae85e4;
}

/* curiosidades */

.gif{
	text-align: center;
	overflow: auto;
	padding: 10px;
	max-width: 285px;
}

.container img {
    
    width: auto;
    height: auto;
	margin-left: 8px;
}
img{
	margin-left: 8px;

}

/* Páginas individuais dos produtos */

/* css dos produtos individuais */
.boxIndividual{
	float: left;
	text-align: justify;
	
	border-width: 1px;
	height: 425px;
	max-width: 285px;
	margin: 4px;
	padding: 2px;		
}
.textoIndividual{
	float: left;
	text-align: justify;
}




